body,
html {
    background-color: #3e8170;
    height: 100%;
    margin: 0;

}

.img-container {
    background-image: url('https://media.dnd.wizards.com/styles/second_hubpage_banner/public/images/head-banner/04-PRODUCT-INFO_Tabletop_Hero_MM_1.jpg');
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    min-height: 200px;
    align-items: center;
}

.inner-container {
    background-color: #000000;
}

#site-name {
    font-size: 5rem;
    font-family: 'Times New Roman', Times, serif;
    color: #ff1512;
    background-color: #000;
    opacity: .7;
    border-radius: 5px;
}

#monster-submit {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}


/* #monster-randomizer {
    
} */

#flexbox-container {
    display: flex;
        justify-content: space-around;
        align-items: flex-end;
        align-items: flex-end;
    }

#monster-info {
    align-self: center;
    background-color: #ff1512;
    border-radius: 5px;

}


.btn {
    border-radius: 5px;
    border-color: #ffffff;
    background: #bfc485;
    color: #e3e660;
    border: none;
    /* display: inline-block; */
    font-family: 'Open Sans';
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.btn:hover {
    cursor: pointer;
}



#monster-image {
   
    width: auto;
    height: 12rem;
    background-size: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#kill-button {
    align-self: center;
}

#monster-pic {
    align-self: center;
    display: block;
    background-color: #ff1512;
    border-radius: 5px;

}

.modal-container{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 3px solid  #E69A28;
    border-radius: 10px;
    background-color: #FDF1DC;
    z-index: 10;
    width: 800px;
    max-width: 80%;
    max-height: 80%;
    overflow-x: hidden;

}
.modal-container.active {
    transform: translate(-50%, -50%) scale(1);
}

#content {
    padding: 10px 15px;


  }
  /* #expanded-description {
    padding: 5px 15px;
  }
  #creature-name {
    padding: 5px 15px;
  }
  #monster-meta{
    padding: 5px 15px;
  } */

  #close {
    position: relative;
    left: 720px;
      cursor: pointer;
      border: none;
      outline: none;
      background: none;
      font-size: 1.5rem;
      font-weight: bold;
  }

  /* #overlay{
      position: fixed;
      opacity: 0;
      transition: 200ms ease-in-out;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color:rgba(0, 0, 0, .5);
    pointer-events: none;
  } */

  /* #overlay.active {
      opacity: 1;
      pointer-events: all;
  } */