body,
html {
    background-color: #3e8170;
    height: 100%;
    margin: 0;

}
body{
    background-image: url('https://staticdelivery.nexusmods.com/mods/2298/images/957/957-1584101320-1219320323.png');
    width: 100%;
    height: 100%;
    background-position: 50% 200px;
    background-repeat: no-repeat; 
}



.img-container {
    background-image: url('https://media.dnd.wizards.com/styles/second_hubpage_banner/public/images/head-banner/04-PRODUCT-INFO_Tabletop_Hero_MM_1.jpg');
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    min-height: 200px;
    align-items: center;
}

.inner-container {
    background-color: #000000;
}

#site-name {
    font-size: 5rem;
    font-family: 'Times New Roman', Times, serif;
    color: #ff1512;
    background-color: #000;
    opacity: .7;
    border-radius: 5px;
}


#monster-submit {
 
    display: inline-flex;
     display: flex;
    justify-content: center;
} 

#monster-randomizer{
    font-size: 1rem;
    justify-content: center;
    border-top-left-radius: 10px ;
    border-bottom-left-radius: 10px;
    background-color: #af0d02;
    color: #fff;
}
.random-btn{
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
}
.search-button{
    font-size: 1.5rem;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #af0d02;
    color:#fff;
    cursor: pointer;
}

#monster-search{
    font-size: 1.5rem;

   border: none;
   outline: none;
   background-color: #aa5954;
}

 #monster-search::placeholder{
     color: white;
} 




#flexbox-container {

    display: flex;
        justify-content: space-around;
        align-items: flex-end;
        align-items: flex-end;
    }

#monster-info {
    align-self: center;
    background-color: #927f7e;
    border-radius: 5px;
 

}

#expanded-info-button{
    border-radius: 5px;
    border-color: #ffffff;
    background: #bfc485;
    color: #202929;
    border: none;
    /* display: inline-block; */
    font-family: 'Open Sans';
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
.btn {
    border-radius: 5px;
    border-color: #ffffff;
    background: #bfc485;
    color: #202929;
    border: none;
    /* display: inline-block; */
    font-family: 'Open Sans';
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.btn:hover {
    cursor: pointer;
}



#monster-image {
   
    width: auto;
    height: 12rem;
    background-size: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    max-width: 400px;
}
#kill-button {
    align-self: center;
}

#monster-pic {
    align-self: center;
    display: block;
    background-color: #9b807f;
    border-radius: 5px;

}

.modal-container{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 3px solid  #E69A28;
    border-radius: 10px;
    background-color: #FDF1DC;
    z-index: 10;
    width: 800px;
    max-width: 80%;
    max-height: 80%;
    overflow-x: hidden;

}
.modal-container.active {
    transform: translate(-50%, -50%) scale(1);
}

#content {
    padding: 10px 15px;


  }
  /* #expanded-description {
    padding: 5px 15px;
  }
  #creature-name {
    padding: 5px 15px;
  }
  #monster-meta{
    padding: 5px 15px;
  } */

  #close {
    position: relative;
    left: 720px;
      cursor: pointer;
      border: none;
      outline: none;
      background: none;
      font-size: 1.5rem;
      font-weight: bold;
  }

  /* #overlay{
      position: fixed;
      opacity: 0;
      transition: 200ms ease-in-out;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color:rgba(0, 0, 0, .5);
    pointer-events: none;
  } */

  /* #overlay.active {
      opacity: 1;
      pointer-events: all;
  } 

  #graves {
    background-image: url('https://live.staticflickr.com/79/282630595_65f897a07f_h.jpg');
    background-size: 1500px;
    background-position: bottom;
    height: 300px;
    display: flex;
    justify-content:flex-start;
    flex-direction: row;
    width: 100%;
    text-align: center;
    min-height: 400px;
    align-items:center;
    flex-wrap: wrap;
  }

  .grave {
    background-image:url('https://i.pinimg.com/originals/b0/68/4f/b0684fa81be33524442a41a9bb3ea28f.png');
    background-size: 150px;
    width: 150px;
    height: 150px;
  }
#grave-form {
    background-color:#E69A28;
    text-align: center;
}

#character-filler {
    text-size-adjust: 200%;
}