* {
    margin: 0;
}

body {
    background-color: aqua;
    height: 100%;
}

.img-container {
    background-image: url('https://media.dnd.wizards.com/styles/second_hubpage_banner/public/images/head-banner/04-PRODUCT-INFO_Tabletop_Hero_MM_1.jpg');
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    min-height: 200px;
    align-items: center;
}

.inner-container {
    background-color: #000000;
}

#site-name {
    font-size: 5rem;
    font-family: 'Times New Roman', Times, serif;
    color: #ff1512;
    background-color: #000;
    opacity: .7;
    border-radius: 5px;
}

#monster-submit {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}


#monster-randomizer {
  
}

#flexbox-container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;

}

#monster-info {
    align-self: center;

}


.btn {
    border-radius: 5px;
    border-color: #ffffff;
    background: #bfc485;
    color: #383434;
    border: none;
    display: inline-block;
    font-family: 'Open Sans';
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.btn:hover {
    cursor: pointer;
}



#monster-image {
    width: auto;
    height: 12rem;
    background-size: cover;
}

#monster-pic {
    align-self: center;
    display: block;
}